spike/agent_key*
**/.git/
platform/agent_key
platform/agent_key*
**/agent_key
**/agent_key.pub
__pycache__/
.pytest_cache/
tasks/*/environment/**/*.log
tasks/**/__pycache__/
tasks/**/*_state/
tasks/*/environment/k3s/airgap/
tasks/**/airgap/*.tar
